<table>
    <tr>
    <td><%= @credit_detail.email %></td>
    <td><%= @credit_detail.meta["credit_limit_val"] %></td>
    <td><%= @credit_detail.meta["credibility_score_val"] %></td>
    </tr>
</table>